<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginSellerController</servlet-name>
        <servlet-class>subg.controller.LoginSellerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCustomerController</servlet-name>
        <servlet-class>subg.controller.LoginSellerCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>subg.controller.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpSellerCustomerController</servlet-name>
        <servlet-class>subg.controller.SignUpSellerCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailCheck</servlet-name>
        <servlet-class>subg.controller.EmailCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OldPassCheck</servlet-name>
        <servlet-class>subg.controller.OldPassCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePass</servlet-name>
        <servlet-class>subg.controller.ChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCart</servlet-name>
        <servlet-class>subg.controller.RemoveFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>subg.controller.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTable</servlet-name>
        <servlet-class>subg.controller.UpdateTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSellerCustomerController</servlet-name>
        <servlet-class>subg.controller.LoginSellerCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Realloc</servlet-name>
        <servlet-class>subg.controller.Realloc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Previous</servlet-name>
        <servlet-class>subg.controller.Previous</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prev</servlet-name>
        <servlet-class>subg.controller.prev</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSellerController</servlet-name>
        <url-pattern>/LoginSellerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCustomerController</servlet-name>
        <url-pattern>/LoginCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpSellerCustomerController</servlet-name>
        <url-pattern>/SignUpSellerCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailCheck</servlet-name>
        <url-pattern>/EmailCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OldPassCheck</servlet-name>
        <url-pattern>/OldPassCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePass</servlet-name>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCart</servlet-name>
        <url-pattern>/RemoveFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTable</servlet-name>
        <url-pattern>/UpdateTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSellerCustomerController</servlet-name>
        <url-pattern>/LoginSellerCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Realloc</servlet-name>
        <url-pattern>/Realloc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Previous</servlet-name>
        <url-pattern>/Previous</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prev</servlet-name>
        <url-pattern>/prev</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
